.sighting_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.sighting_list_item {
  flex-grow: 1;
  align-self: end;
  position: relative;
  box-sizing: border-box;
  margin: 1rem;
}
.sighting {
  border: solid;
  border-width: 0.2rem;
  border-color: #3b89ac;
  border-radius: 25px;
  background-color: rgb(248, 239, 228);

  h2 {
    text-align: center;
    color: #22646e;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.25s ease;
  }

  img:hover {
    transform: scale(1.5);
  }

  .sighting_info {
    margin: 0.3rem;
    color: #003851;
  }
}
