@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap%27");

$color-background: #003851;
$color-secondary: #bfd2d9;
$color-font: white;
$font-family: "Poppins", sans-serif;
