@import "../../../styles/constants.scss";
.recent-sighting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-sighting__img {
  border-color: $color-background;
  border-radius: 45%;
}
