@import "../../styles/constants.scss";
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-background;
  color: $color-font;
  background-image: url("https://www.oceanclock.com/img/modules/oh_news/news/32_picture.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 300vh;
}

.homepage__title {
  background-color: $color-background;
  color: white;
  width: 100vw;
  padding: 1rem;
}
