@import "../../../styles/constants.scss";
.plan-a-trip__text {
  color: $color-font;
}
.plan-a-trip__location {
  background-color: $color-background;
  height: fit-content;
  width: 70%;
  padding: 0.5rem;
  font-size: small;
  font-family: $font-family;
}
