@import "../../styles/constants.scss";

.navbar__burger {
  display: block;
}

.navbar__menu {
  display: flex;
  background-color: $color-block-blackground;
  height: 100px;
  padding: 0 20px;

  .menu-item-disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
}
@media (min-width: 900px) {
  .navbar__burger {
    display: none;
  }
}

.mobile__logo-link {
  display: flex;
  align-items: center;
}

.mobile__logo {
  height: 60%;
}

.mobile__welcome {
  display: flex;
  align-items: center;
}

.mobile__welcome-message {
  color: white;
  font-size: 1.15em;
  margin: 15px;
}

.menu-item {
  color: white;
  text-decoration: none;
  padding: 15px;

  &:hover {
    color: $color-block-blackground;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  right: 0;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
