@import "../../../styles/constants.scss";

.weather {
  display: flex;
  list-style: none;
  font-family: $font-family;
  color: $color-font;
}

.weather__list {
  margin-right: 2em;
}
.weather__card {
  width: 7em;
  height: 10em;
}
.weather_card-text {
  background-color: $color-background;
  font-size: 2em;
}
.planATrip__sub-title {
  margin-top: 0.5rem;
  font-family: $font-family;
  font-size: medium;
  width: 50%;
  color: $color-font;
  padding: 0.5rem;
  background-color: $color-background;
}
.plantATrip__carousel {
  width: 50%;
  height: 35vh;
  padding: 0.5rem;
  background-color: $color-background;
  background-color: adjust-hue($color: #0000006e, $degrees: 0);
  color: $color-font;
}
.plantATrip__carousel-item {
  padding: 0.5rem;
}
.planATrip__icon {
  padding-bottom: 80px;
  padding-top: 0;
  justify-self: center;
  align-self: center;
}
.planATrip__capttion-title {
  margin-top: 0;
  padding-top: 0px;
  font-size: medium;
}
.planATrip__capttion-text {
  margin-top: 0;
  padding-top: 0;
}
